:root {
    --color: #F2F2F2;
    --color-2: #D9D9D9;
    --shadow: 1px 4px 8px rgba(0, 0, 0, 0.25);
}


.main-container {
    width: 100%;
    height: max-content;
    margin: 0 auto;
    background-color: var(--color-2);
}

.content-container {
    width: 100%;
    height: 1080px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid black; */
}

.nav-container {
    display: flex;
    align-content: center;
    justify-content: space-between;
    width: 65%;
    height: 10%;
    margin: 40px 0 90px 0;
    border-radius: 10px;
    box-shadow: var(--shadow);
    /* border: 1px solid black; */
    background-color: var(--color);
}

.logo {
    margin-left: 6%;
    width: 12.5%;
}

.nav-btn {
    width: 2.5%;
    margin-right: 4%;
    cursor: pointer;
}

.slide-wrapper {
    width: 100%;
    height: 700px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--color);
    box-shadow: var(--shadow);
}

.slide-wrapper-area {
    width: 400%;
    height: 90%;
    display: flex;
    align-items: center;
}

.slide-item {
    width: 25%;
    height: 100%;
    transition: all .6s ease;
}

.img-slide {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

#r1:checked~.s1 {
    margin-left: 0;
}

#r2:checked~.s1 {
    margin-left: -25%;
}

#r3:checked~.s1 {
    margin-left: -50%;
}

#r4:checked~.s1 {
    margin-left: -75%;
}

.slide-wrapper-nav {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 450%);
    display: flex;
    height: 5%;
}

.bar {
    height: 15px;
    width: 40px;
    margin: 6px;
    cursor: pointer;
    background-color: var(--color-2);
    opacity: .5;
    border-radius: 10px;
    transition: all .4s ease;
}

.bar:hover {
    opacity: 0.8;
    transform: scale(1.1);
}

input[name="r"] {
    position: absolute;
    visibility: hidden;
}

.project-container {
    width: 90%;
    height: 1080px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transform: translate(5%);
}

.project-container-title {
    width: 100%;
    box-shadow: var(--shadow);
    background-color: var(--color);
    border-radius: 15px;
}

h1 {
    text-align: center;
    color: #687B78;
    font-weight: 600;
    font-size: 50px;
}

.project-container-galary {
    display: grid;
    grid-template-columns: 14% 14% 14% 14% 14%;
    grid-template-rows: 31% 31%;
    justify-content: center;
    align-content: center;
    gap: 7.5% 3.5%;
    width: 100%;
    height: 800px;
    background-color: var(--color);
    box-shadow: var(--shadow);
    border-radius: 15px;
}

.galary-item__container {
    width: 100%;
    height: 100%;
}

.galary-item {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.application-form {
    width: 90%;
    height: 1080px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translate(5%);
}

.application-form-title {
    width: 100%;
    box-shadow: var(--shadow);
    background-color: var(--color);
    border-radius: 15px;
}

.application-form-area {
    width: 100%;
    height: 800px;
    background-color: var(--color);
    box-shadow: var(--shadow);
    border-radius: 15px;
}

.about-company {
    width: 90%;
    height: 1080px;
    transform: translate(5%);
}

.about-company-title {
    width: 100%;
    height: 10%;
    margin-bottom: 5%;
    background-color: var(--color);
    box-shadow: var(--shadow);
    border-radius: 15px;
}

.about-company-main {
    display: flex;
    justify-content: space-around;

}

.about-company-text {
    width: 40%;
    background-color: var(--color);
    box-shadow: var(--shadow);
    border-radius: 15px;
    padding: 4% 2.5% 4% 2.5%;
}

.about-company-text p {
    font-size: 30px;
    font-weight: 600;
    color: #687B78;
    line-height: 36px;
}

.about-company-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    padding: 4% 2.5% 4% 2.5%;
    background-color: var(--color);
    box-shadow: var(--shadow);
    border-radius: 15px;
}

.about-company-img img {
    width: 100%;
    object-fit: cover;
}

.address p {
    font-size: 24px;
    font-weight: 600;
    color: #687B78;
    line-height: 30px;
}